@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #000;
}

.background {
    background-color: #b4be28;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

.main-page {
    position: relative;
    background-color: #fbffb9;
    width: 80%;
    max-width: 1600px;
    height: 100vh;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 10%;
}



                /* WELCOME TEXT AND CONTACTS */

.welcome-text {
    text-align: center;
}

.welcome-title {
    font-size: 100px;
}

.welcome-subtitle {
    font-size: 50px;
    padding-bottom: 20px;

    border-bottom: 5px solid #000;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.contacts-text {
    font-size: 60px;
}

.contacts img {
    width: auto;
    height: 40px;
    margin: 0 30px;
    cursor: pointer;

    transition: transform 0.3s;
}

.contacts img:hover {
    transform: scale(1.5);
}



                        /* CLICK PAGE */

.click-page {
    position: relative;
    background-color: #fbffb9;
    width: 80%;
    max-width: 1600px;
    height: 100vh;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    margin: 0 10%;
}

.click-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    display: all;
}

.click-title {
    font-size: 100px;
}

.click-subtitle {
    font-size: 40px;
    text-align: center;
}

.seconds {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.seconds-choice {
    cursor: pointer;
    margin-top: 50px;
    border: 5px solid #000;
    border-radius: 25px;
    padding: 0 50px;
    background-color: #f6fd98;
    font-size: 40px;
    font-family: 'Itim', cursive;

    transition: background-color, 0.2s;
}

.seconds-choice:hover {
    background-color: #dddddd;
}




                        /* PRE-TEST */

.pre-test {
    background-color: rgba(97, 97, 97, 90%);
    width: 90%;
    height: 95vh;
    z-index: 999;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    display: none;
}

.pre-timer {
    font-size: 300px;
    font-family: 'Noto Sans Symbols 2', sans-serif;
}

                        /* TEST-CPS-PAGE */

.test {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

    display: none;
}

.click-pad {
    background-color: #363636;
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    cursor: pointer;

    margin-top: 100px;
}

.click-pad:active {
    background-color: #474747;
}

.pad-text {
    font-size: 70px;
    font-family: 'Unbounded', cursive;
}

.click-timer {
    text-align: center;
    background-color: #869453;
    width: 100%;
    font-size: 100px;
    cursor: default; 
}

.amount-clicks {
    text-align: center;
    font-size: 40px;
    border: 2px dotted #474747;
    border-radius: 20px;
    width: 50%;
    cursor: default;

    margin: 50px 0;
}

.reload {
    display: none;

    cursor: pointer;
    margin-top: 50px;
    border: 5px solid #000;
    border-radius: 25px;
    padding: 0 50px;
    background-color: #f6fd98;
    font-size: 40px;
    font-family: 'Itim', cursive;

    transition: transform 0.2s;
}

.reload:hover {
    transform: scale(1.2);
}







                        /* ADAPTATION */

                            /* MAIN */

@media (min-width: 1600px) {
    .main {
       display: flex;
       align-items: center;
       flex-direction: column;  
    }
}

@media (max-width: 900px) {
    .background {
        display: none;
    }
    
    .main-page, .click-page {
        width: 100%;
        margin: 0;
    }
}

                        /* WELCOME-PAGE */

@media (max-width: 650px) {
    .welcome-title {
        font-size: 80px;
    }

    .welcome-subtitle {
        font-size: 30px;
    }
}

@media (max-width: 510px) {
    .welcome-title {
        font-size: 70px;
    }

    .welcome-subtitle {
        font-size: 30px;
    }

    .contacts {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .welcome-title {
        font-size: 60px;
    }

    .welcome-subtitle {
        font-size: 20px;;
    }

    .contacts img {
        margin: 0 20px;
    }
}

@media (max-width: 460px) {
    .welcome-title {
        font-size: 50px;
    }

    .welcome-subtitle {
        font-size: 20px;;
    }

    .contacts img {
        margin: 0 10px;
        height: 30px;
    }
}

@media (max-width: 340px) {
    .welcome-title {
        font-size: 40px;
    }

    .welcome-subtitle {
        font-size: 15px;;
    }
}

@media (max-width: 260px) {
    .welcome-title {
        font-size: 30px;
    }

    .welcome-subtitle {
        font-size: 15px;;
    }

    .contacts img {
        height: 20px;
    }

    .contacts {
        margin-top: 20px;
    }
}

@media (max-width: 200px) {
    .welcome-title {
        font-size: 25px;
    }

    .welcome-subtitle {
        font-size: 15px;;
    }

    .contacts img {
        height: 15px;
    }
}

@media (max-width: 170px) {
    .welcome-title {
        font-size: 20px;
    }

    .welcome-subtitle {
        font-size: 10px;;
    }

    .contacts img {
        height: 10px;
    }

    .contacts {
        margin-top: 10px;
    }
}


                        /* CLICK PAGE */

@media (max-width: 600px) {
    .click-title {
        font-size: 80px;
    }

    .click-subtitle {
        font-size: 30px;
    }
}

@media (max-width: 430px) {
    .click-title {
        font-size: 70px;
    }

    .click-subtitle {
        font-size: 25px;
    }
}

@media (max-width: 370px) {
    .click-title {
        font-size: 60px;
    }

    .click-subtitle {
        font-size: 20px;
    }

    .seconds-choice {
        font-size: 30px;
    }
}

@media (max-width: 300px) {
    .click-title {
        font-size: 50px;
    }

    .click-subtitle {
        font-size: 17px;
    }

    .seconds-choice {
        font-size: 20px;
    }
}

@media (max-width: 250px) {
    .click-title {
        font-size: 45px;
    }

    .click-subtitle {
        font-size: 15px;
        margin-top: 40px;
    }

    .seconds-choice {
        font-size: 15px;
    }
}

@media (max-width: 200px) {
    .click-title {
        font-size: 35px;
    }

    .click-subtitle {
        font-size: 10px;
    }

    .seconds-choice {
        font-size: 13px;
        margin-top: 30px;
        padding: 0 20px;
    }

    .seconds {
        margin-top: 20px;
    }
}

@media (max-width: 160px) {
    .click-title {
        font-size: 30px;
    }

    .click-subtitle {
        font-size: 10px;
    }

    .seconds-choice {
        font-size: 7px;
        margin-top: 10px;
    }

    .seconds {
        margin-top: 10px;
    }
}


@media (max-height: 640px) {
    .seconds-choice {
        margin-top: 40px;
    }

    .seconds {
        margin-top: 20px;
    }
}

@media (max-height: 550px) {
    .seconds-choice {
        font-size: 30px;
    }

    .seconds {
        margin-top: 10px;
    }
}

@media (max-height: 450px) {
    .click-title {
        font-size: 70px;
    }

    .click-subtitle {
        font-size: 30px;
    }

    .welcome-title {
        font-size: 80px;
    }

    .welcome-subtitle {
        font-size: 40px;
    }

    .seconds {
        margin-top: 0;
    }
}

@media (max-height: 390px) {
    .seconds-choice {
        font-size: 20px;
    }

    .click-title {
        font-size: 50px;
    }

    .click-subtitle {
        font-size: 20px;
    }

    .welcome-title {
        font-size: 60px;
    }

    .welcome-subtitle {
        font-size: 30px;
    }
}

@media (max-height: 320px) {
    .seconds-choice {
        font-size: 15px;
    }

    .click-title {
        font-size: 40px;
    }

    .click-subtitle {
        font-size: 15px;
    }

    .welcome-title {
        font-size: 50px;
    }

    .welcome-subtitle {
        font-size: 20px;
    }
}


                        /* PRE-TEST */

@media (max-width: 700px) {
    .pre-timer {
        font-size: 200px;
    }
}

@media (max-width: 400px) {
    .pre-timer {
        font-size: 100px;
    }
}

@media (max-width: 100px) {
    .pre-timer {
        font-size: 50px;
    }
}


@media (max-height: 560px) {
    .pre-timer {
        font-size: 200px;
    }
}

@media (max-height: 370px) {
    .pre-timer {
        font-size: 100px;
    }
}


                        /* TEST */

@media (max-width: 600px) {
    .pad-text {
        font-size: 60px;
    }
}

@media (max-width: 500px) {
    .pad-text {
        font-size: 40px;
    }
}

@media (max-width: 400px) {
    .pad-text {
        font-size: 30px;
    }

    .amount-clicks {
        font-size: 25px;
    }
}

@media (max-width: 310px) {
    .pad-text {
        font-size: 20px;
    }

    .click-pad {
        height: 20%;
    }

    .amount-clicks {
        font-size: 20px;
    }

    .click-timer {
        font-size: 80px;
    }
}

@media (max-width: 230px) {

    .pad-text {
        font-size: 15px;
    }

    .click-timer {
        font-size: 70px;
    }
}

@media (max-width: 200px) {

    .amount-clicks {
        font-size: 15px;
    }

    .click-timer {
        font-size: 60px;
    }
}

@media (max-width: 150px) {

    .amount-clicks {
        font-size: 10px;
    }

    .click-timer {
        font-size: 50px;
    }

    .click-pad {
        height: 15%;
        margin-top: 80px;
    }
}


@media (max-height: 630px) {
    .click-pad {
        margin-top: 60px;
        height: 40%;
    }

    .pad-text {
        font-size: 60px;
    }
}

@media (max-height: 580px) {
    .click-pad {
        margin-top: 0;
        height: 40%;
    }
}

@media (max-height: 480px) {
    .click-pad {
        height: 30%;
    }

    .pad-text {
        font-size: 40px;
    }
}

@media (max-height: 420px) {
    .click-pad {
        height: 20%;
        width: 50%;
        margin-top: -10px;
    }

    .pad-text {
        font-size: 30px;
    }

    .amount-clicks {
        width: 40%;
        font-size: 30px;
    }

    .click-timer {
        font-size: 70px;
    }
}

@media (max-height: 340px) {
    .click-pad {
        height: 20%;
        width: 50%;
        margin-top: 10px;
    }

    .amount-clicks {
        margin: 20px 0;
    }

    .pad-text {
        font-size: 20px;
    }
}

@media (max-height: 290px) {
    .click-pad {
        height: 20%;
        width: 40%;
        margin-top: 10px;
    }

    .amount-clicks {
        margin: 20px 0;
    }

    .pad-text {
        font-size: 10px;
    }
}










